# Large data files
Train.csv
Test_Val.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment
.env
.idea/
.lightning_studio/
.vscode/
.vscode-server
.windsurf-server
.cursor-server
streamlit_templates/
nltk_data/
main.py
